#wrapper{
  background:#FFFFFF;
  width:720px;
  height:720px;
  border:4px solid#000000;
  margin:auto;
}
#control{
  height:40px;
  width:720px;
  margin:auto;
  padding:20px 100px 20px;
  text-align:center;
}
