#wrapper{
  margin:auto;
  width:800px;
  height:540px;
  border:2px solid #000000;
}
#sign{
  margin:auto;
  padding:0px 300px;
  width:200px;
  height:100px;
}
#sign #center{
  text-align:center;
  background:rgba(255, 0, 0, 0.4);
  width:200px;
  height:100px;
}
